first we will import pandas

In [4]:
import pandas as pd

then we will import csv files

In [5]:
df =pd.read_csv('favorite_music_dataset.csv')
df

,Song_Title,Artist,Genre,Release_Year,Duration_Minutes,Listened_Date,Platform
0,Faded,Alan Walker,Electronic,2024,4.02,2024-02-10,Apple Music
1,Blinding Lights,The Weeknd,Synth-pop,2018,4.45,2024-05-30,Zing MP3
2,Faded,Alan Walker,Electronic,2024,4.86,2024-05-07,Zing MP3
3,Faded,Alan Walker,Electronic,2012,4.92,2024-03-19,YouTube
4,Bohemian Rhapsody,Queen,Rock,2023,3.90,2024-01-16,Apple Music
...,...,...,...,...,...,...,...
95,Counting Stars,OneRepublic,Pop Rock,2013,3.40,2024-05-30,Spotify
96,Senorita,Shawn Mendes & Camila Cabello,Latin Pop,2024,2.75,2024-06-11,Apple Music
97,Counting Stars,OneRepublic,Pop Rock,2010,3.57,2024-01-03,Zing MP3
98,Blinding Lights,The Weeknd,Synth-pop,2012,4.04,2024-06-13,Apple Music
99,Let Her Go,Passenger,Indie,2013,4.61,2024-01-04,Apple Music

we will read csv files from url

In [6]:
import requests
from io import StringIO
url= "https://raw.githubusercontent.com/Currie32/500-Greatest-Albums/master/albumlist.csv"
header ={ 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
req = requests.get(url,headers = header)
data =StringIO(req.text)

pd.read_csv(data)

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock"
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock
...,...,...,...,...,...,...
495,496,1969,Boz Scaggs,Boz Scaggs,Rock,Pop Rock
496,497,2001,White Blood Cells,The White Stripes,Rock,"Indie Rock, Alternative Rock, Blues Rock, Gara..."
497,498,1989,The Stone Roses,The Stone Roses,Rock,Indie Rock
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues
499,500,1998,Aquemini,OutKast,Hip Hop,"Reggae, Gangsta, Soul, Conscious"

use cols_parameter

In [7]:
pd.read_csv('favorite_music_dataset.csv',usecols=['Listened_Date','Genre'])

         Genre Listened_Date
0   Electronic    2024-02-10
1    Synth-pop    2024-05-30
2   Electronic    2024-05-07
3   Electronic    2024-03-19
4         Rock    2024-01-16
..         ...           ...
95    Pop Rock    2024-05-30
96   Latin Pop    2024-06-11
97    Pop Rock    2024-01-03
98   Synth-pop    2024-06-13
99       Indie    2024-01-04

[100 rows x 2 columns]

it will helps us to filter the data from csv files

Header parameter

In [8]:
pd.read_csv('favorite_music_dataset.csv',header = 1)

,Faded,Alan Walker,Electronic,2024,4.02,2024-02-10,Apple Music
0,Blinding Lights,The Weeknd,Synth-pop,2018,4.45,2024-05-30,Zing MP3
1,Faded,Alan Walker,Electronic,2024,4.86,2024-05-07,Zing MP3
2,Faded,Alan Walker,Electronic,2012,4.92,2024-03-19,YouTube
3,Bohemian Rhapsody,Queen,Rock,2023,3.90,2024-01-16,Apple Music
4,Perfect,Ed Sheeran,Pop Ballad,2014,4.65,2024-01-24,Apple Music
...,...,...,...,...,...,...,...
94,Counting Stars,OneRepublic,Pop Rock,2013,3.40,2024-05-30,Spotify
95,Senorita,Shawn Mendes & Camila Cabello,Latin Pop,2024,2.75,2024-06-11,Apple Music
96,Counting Stars,OneRepublic,Pop Rock,2010,3.57,2024-01-03,Zing MP3
97,Blinding Lights,The Weeknd,Synth-pop,2012,4.04,2024-06-13,Apple Music
98,Let Her Go,Passenger,Indie,2013,4.61,2024-01-04,Apple Music

skiprows and nrows

In [9]:
pd.read_csv('favorite_music_dataset.csv',skiprows=[0,4],nrows =10)

,Faded,Alan Walker,Electronic,2024,4.02,2024-02-10,Apple Music
0,Blinding Lights,The Weeknd,Synth-pop,2018,4.45,2024-05-30,Zing MP3
1,Faded,Alan Walker,Electronic,2024,4.86,2024-05-07,Zing MP3
2,Bohemian Rhapsody,Queen,Rock,2023,3.90,2024-01-16,Apple Music
3,Perfect,Ed Sheeran,Pop Ballad,2014,4.65,2024-01-24,Apple Music
4,Let Her Go,Passenger,Indie,2020,3.39,2024-03-03,Spotify
5,Blinding Lights,The Weeknd,Synth-pop,2011,2.67,2024-06-05,YouTube
6,Let Her Go,Passenger,Indie,2016,4.05,2024-06-26,YouTube
7,Bohemian Rhapsody,Queen,Rock,2015,3.98,2024-02-10,Spotify
8,Havana,Camila Cabello,Latin Pop,2018,4.01,2024-04-02,Spotify
9,Photograph,Ed Sheeran,Pop,2014,4.24,2024-03-24,Apple Music

dtype datatype

In [10]:
df = pd.read_csv('favorite_music_dataset.csv', dtype={'Duration_Minutes ': int})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Song_Title        100 non-null    object
 1   Artist            100 non-null    object
 2   Genre             100 non-null    object
 3   Release_Year      100 non-null    int64
 4   Duration_Minutes  100 non-null    float64
 5   Listened_Date     100 non-null    object
 6   Platform          100 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.6+ KB

breaking the data in chunks to make tha data small

In [11]:
dfs =pd.read_csv('favorite_music_dataset.csv',chunksize=20)

In [12]:
for chunks in dfs:
    print(chunks.shape)

(20, 7)
(20, 7)
(20, 7)
(20, 7)
(20, 7)

CONVERTORS

In [13]:
pd.read_csv('Cricket_data.csv')

,season,id,name,short_name,description,home_team,away_team,toss_won,decision,1st_inning_score,...,home_playx1,away_playx1,away_key_batsman,away_key_bowler,match_days,umpire1,umpire2,tv_umpire,referee,reserve_umpire
0,NaN,1370350,Chennai Super Kings v Gujarat Titans,CSK v GT,"Qualifier 1 (N), Indian Premier League at Chen...",CSK,GT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1370351,Lucknow Super Giants v Mumbai Indians,LSG v MI,"Eliminator (N), Indian Premier League at Chenn...",LSG,MI,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1370352,TBC v TBC,TBC v TBC,"Qualifier 2 (N), Indian Premier League at Ahme...",TBA,TBA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1370353,TBC v TBC,TBC v TBC,"Final (N), Indian Premier League at Ahmedabad,...",TBA,TBA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023.0,1359544,Royal Challengers Bangalore v Gujarat Titans,RCB v GT,"70th Match (N), Indian Premier League at Benga...",RCB,GT,GT,BOWL FIRST,197/5,...,"Virat Kohli (UKN),Faf du Plessis (UKN),Glenn M...","Wriddhiman Saha (WK),Shubman Gill (UKN),Vijay ...","Shubman Gill,Vijay Shankar","Noor Ahmad,Rashid Khan",21 May 2023 - night match (20-over match),Nitin Menon,Virender Sharma,Tapan Sharma,Javagal Srinath,VM Dhokre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,2008.0,336012,Royal Challengers Bangalore v Mumbai Indians,RCB v MI,"55th match (D/N), Indian Premier League at Ben...",RCB,MI,MI,BOWL FIRST,122/9,...,"Mark Boucher (BT),Shreevats Goswami (WK),Misba...","Sanath Jayasuriya (AR),Sachin Tendulkar (BT),R...","Sanath Jayasuriya,Sachin Tendulkar","Dilhara Fernando,Dwayne Smith",28 May 2008 - day/night match (20-over match),Billy Bowden,Arani Jayaprakash,Billy Doctrove,Sir Clive Lloyd,NaN
1028,2008.0,336019,Kings XI Punjab v Rajasthan Royals,KXIP v RR,"56th match (N), Indian Premier League at Mohal...",KXIP,RR,RR,BOWL FIRST,221/3,...,"Shaun Marsh (BT),James Hopes (AR),Yuvraj Singh...","Mohammad Kaif (BT),Niraj Patel (UKN),Younis Kh...","Niraj Patel,Yusuf Pathan","Shane Watson,Yusuf Pathan",28 May 2008 - night match (20-over match),Krishna Hariharan,Steve Davis,Daryl Harper,Srinivas Venkataraghavan,MS Mahal
1029,2008.0,336038,Delhi Daredevils v Rajasthan Royals,DC v RR,"1st Semi-Final (N), Indian Premier League at M...",DC,RR,DC,BOWL FIRST,192/9,...,"Gautam Gambhir (BT),Virender Sehwag (BT),Shikh...","Graeme Smith (BT),Swapnil Asnodkar (BT),Sohail...","Shane Watson,Yusuf Pathan","Shane Watson,Munaf Patel",30 May 2008 - night match (20-over match),Billy Bowden,Rudi Koertzen,Billy Doctrove,Javagal Srinath,NaN
1030,2008.0,336039,Chennai Super Kings v Kings XI Punjab,CSK v KXIP,"2nd Semi-Final (N), Indian Premier League at M...",CSK,KXIP,KXIP,BAT FIRST,112/8,...,"Parthiv Patel (WK),Vidyut Sivaramakrishnan (UK...","Shaun Marsh (BT),James Hopes (AR),Kumar Sangak...","Ramesh Powar,Wilkin Mota","Irfan Pathan,Vikram Singh",31 May 2008 - night match (20-over match),Asad Rauf,Daryl Harper,Krishna Hariharan,Srinivas Venkataraghavan,NaN
1031,2008.0,336040,Chennai Super Kings v Rajasthan Royals,CSK v RR,"Final (N), Indian Premier League at Mumbai, Ju...",CSK,RR,RR,BOWL FIRST,163/5,...,"Parthiv Patel (WK),Vidyut Sivaramakrishnan (UK...","Niraj Patel (UKN),Swapnil Asnodkar (BT),Kamran...","Yusuf Pathan,Swapnil Asnodkar","Yusuf Pathan,Shane Watson",1 June 2008 - night match (20-over match),Billy Bowden,Rudi Koertzen,Daryl Harper,Javagal Srinath,MR Singh

In [14]:
def rename(name):
    if name == "RCB":
        return "royal challengers bangalore"
    else:
        return name

In [15]:
rename("RCB")

'royal challengers bangalore'

In [16]:
pd.read_csv('Cricket_data.csv',converters={'home_team': rename})

,season,id,name,short_name,description,home_team,away_team,toss_won,decision,1st_inning_score,...,home_playx1,away_playx1,away_key_batsman,away_key_bowler,match_days,umpire1,umpire2,tv_umpire,referee,reserve_umpire
0,NaN,1370350,Chennai Super Kings v Gujarat Titans,CSK v GT,"Qualifier 1 (N), Indian Premier League at Chen...",CSK,GT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1370351,Lucknow Super Giants v Mumbai Indians,LSG v MI,"Eliminator (N), Indian Premier League at Chenn...",LSG,MI,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1370352,TBC v TBC,TBC v TBC,"Qualifier 2 (N), Indian Premier League at Ahme...",TBA,TBA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1370353,TBC v TBC,TBC v TBC,"Final (N), Indian Premier League at Ahmedabad,...",TBA,TBA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023.0,1359544,Royal Challengers Bangalore v Gujarat Titans,RCB v GT,"70th Match (N), Indian Premier League at Benga...",royal challengers bangalore,GT,GT,BOWL FIRST,197/5,...,"Virat Kohli (UKN),Faf du Plessis (UKN),Glenn M...","Wriddhiman Saha (WK),Shubman Gill (UKN),Vijay ...","Shubman Gill,Vijay Shankar","Noor Ahmad,Rashid Khan",21 May 2023 - night match (20-over match),Nitin Menon,Virender Sharma,Tapan Sharma,Javagal Srinath,VM Dhokre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,2008.0,336012,Royal Challengers Bangalore v Mumbai Indians,RCB v MI,"55th match (D/N), Indian Premier League at Ben...",royal challengers bangalore,MI,MI,BOWL FIRST,122/9,...,"Mark Boucher (BT),Shreevats Goswami (WK),Misba...","Sanath Jayasuriya (AR),Sachin Tendulkar (BT),R...","Sanath Jayasuriya,Sachin Tendulkar","Dilhara Fernando,Dwayne Smith",28 May 2008 - day/night match (20-over match),Billy Bowden,Arani Jayaprakash,Billy Doctrove,Sir Clive Lloyd,NaN
1028,2008.0,336019,Kings XI Punjab v Rajasthan Royals,KXIP v RR,"56th match (N), Indian Premier League at Mohal...",KXIP,RR,RR,BOWL FIRST,221/3,...,"Shaun Marsh (BT),James Hopes (AR),Yuvraj Singh...","Mohammad Kaif (BT),Niraj Patel (UKN),Younis Kh...","Niraj Patel,Yusuf Pathan","Shane Watson,Yusuf Pathan",28 May 2008 - night match (20-over match),Krishna Hariharan,Steve Davis,Daryl Harper,Srinivas Venkataraghavan,MS Mahal
1029,2008.0,336038,Delhi Daredevils v Rajasthan Royals,DC v RR,"1st Semi-Final (N), Indian Premier League at M...",DC,RR,DC,BOWL FIRST,192/9,...,"Gautam Gambhir (BT),Virender Sehwag (BT),Shikh...","Graeme Smith (BT),Swapnil Asnodkar (BT),Sohail...","Shane Watson,Yusuf Pathan","Shane Watson,Munaf Patel",30 May 2008 - night match (20-over match),Billy Bowden,Rudi Koertzen,Billy Doctrove,Javagal Srinath,NaN
1030,2008.0,336039,Chennai Super Kings v Kings XI Punjab,CSK v KXIP,"2nd Semi-Final (N), Indian Premier League at M...",CSK,KXIP,KXIP,BAT FIRST,112/8,...,"Parthiv Patel (WK),Vidyut Sivaramakrishnan (UK...","Shaun Marsh (BT),James Hopes (AR),Kumar Sangak...","Ramesh Powar,Wilkin Mota","Irfan Pathan,Vikram Singh",31 May 2008 - night match (20-over match),Asad Rauf,Daryl Harper,Krishna Hariharan,Srinivas Venkataraghavan,NaN
1031,2008.0,336040,Chennai Super Kings v Rajasthan Royals,CSK v RR,"Final (N), Indian Premier League at Mumbai, Ju...",CSK,RR,RR,BOWL FIRST,163/5,...,"Parthiv Patel (WK),Vidyut Sivaramakrishnan (UK...","Niraj Patel (UKN),Swapnil Asnodkar (BT),Kamran...","Yusuf Pathan,Swapnil Asnodkar","Yusuf Pathan,Shane Watson",1 June 2008 - night match (20-over match),Billy Bowden,Rudi Koertzen,Daryl Harper,Javagal Srinath,MR Singh

welll it did not worked properly as intended but process is ok