In [13]:
import numpy as np
import pandas as pd

In [14]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [15]:
df =pd.read_csv('cars.csv')

In [16]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [17]:
from sklearn.model_selection import train_test_split
X= df[['brand','fuel','owner']]
y= df[['selling_price']]
X_train,X_test,y_tain,y_test=train_test_split(X,y ,test_size=0.2)

In [18]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

MENTOS ZINDAGI

In [19]:
from sklearn.compose  import ColumnTransformer

In [ ]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', OneHotEncoder(sparse_output=False, drop='first'), ['brand', 'fuel']),
    ('tnf2', OrdinalEncoder(), ['owner'])
])

In [28]:
transformer.fit_transform(X_train).shape

(6502, 34)

In [32]:
transformer.fit_transform(X_train)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])